In [3]:
import pandas as pd
students_data = pd.read_csv('data/students_performance.csv', sep=',')

In [50]:
students_data.head()
#students_data.shape

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

9.1

In [10]:
students_data.shape[0]

1000

9.2

In [14]:
# students_data.iloc[155,7]
students_data.iloc[155]['writing score']

88

9.3

In [17]:
students_data.isnull().sum ()#.count()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

9.4

In [22]:
# students_data.info()
# students_data.describe(include=['object'])
students_data.describe(include=['object']).shape[1]

5

9.5

In [40]:
students_data.info()
# students_data.memory_usage(index=True).sum()
#students_data.memory_usage(deep=True)#.sum()
#students_data.memory_usage(index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.6

In [49]:
round(students_data['math score'].mean())

66

9.7

In [52]:
students_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

9.8

In [60]:
round(students_data[students_data['test preparation course']=='completed']['writing score'].mean())

74

9.9

In [64]:
students_data[students_data['math score']==0].shape[0]

1

9.10

In [82]:
students_free=(students_data['lunch']=='free/reduced')
students_stan=(students_data['lunch']=='standard')
students_free_mean=students_data[students_free]['math score'].mean()
# students_stan_mean=students_data[students_stan & (students_data['math score']>students_free_mean)]['math score'].mean()
students_stan_mean=students_data[students_stan]['math score'].mean()
# students_data[students_free].shape[0] #355
# students_data[students_stan]['math score'].describe()#.shape[0] #645
#(students_free_mean**2+students_stan_mean**2)**0.5
# (students_free_mean+students_stan_mean)/2
max(students_free_mean,students_stan_mean)

70.03410852713178

9.11

In [85]:
round(students_data['parental level of education'].value_counts(normalize=True)*100)

parental level of education
some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: proportion, dtype: float64

9.12

In [87]:
# students_data
students_A=students_data[students_data['race/ethnicity']=='group A']['writing score'].median()
students_C=students_data[students_data['race/ethnicity']=='group C']['writing score'].median()
abs(students_A-students_C)

6.0