In [30]:
import pandas as pd
# import numpy as np
# # Графика
# import matplotlib.pyplot as plt
# import seaborn as sns
# Деление выборки
from sklearn import model_selection

from sklearn import linear_model #линейные модели
from sklearn import tree #деревья решений
from sklearn import ensemble

from sklearn import metrics #метрики

In [16]:
boston_data = pd.read_csv('../../data/boston (1).csv')
boston_data.head()

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,"0,00632",18,"2,31",0,"0,538","6,575","65,2","4,09",1,296,"15,3","4,98",24
1,"0,02731",0,"7,07",0,"0,469","6,421","78,9","4,9671",2,242,"17,8","9,14","21,6"
2,"0,02729",0,"7,07",0,"0,469","7,185","61,1","4,9671",2,242,"17,8","4,03","34,7"
3,"0,03237",0,"2,18",0,"0,458","6,998","45,8","6,0622",3,222,"18,7","2,94","33,4"
4,"0,06905",0,"2,18",0,"0,458","7,147","54,2","6,0622",3,222,"18,7","5,33","36,2"

In [17]:
for i in boston_data.columns:
    if boston_data[i].dtype == 'object':
        boston_data[i]=boston_data[i].apply(lambda x: float(str(x).replace(',','.')))

In [18]:
boston_data.info()
# boston_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    float64
 1   zn              506 non-null    float64
 2   business        506 non-null    float64
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    float64
 5   rooms           506 non-null    float64
 6   age             506 non-null    float64
 7   dist            506 non-null    float64
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    float64
 11  lower           506 non-null    float64
 12  target          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [19]:
X = boston_data.drop('target', axis=1)
y = boston_data['target']

### Задание 3.4
#### 1. Разбейте набор данных на обучающую и тестовую выборку в соотношении 70/30, при разбиении задайте параметр random_state = 13.

Какое получилось среднее значение медианных цен на обучающей выборке? Ответ округлите до двух знаков после точки

In [23]:
# Формируем обучающую и тестовую выборки
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=13) # , stratify=y
print('Train shape: {}'.format(X_train.shape))
print('Test shape: {}'.format(X_test.shape))
print('среднее значение медианных цен на обучающей выборке = ', round(y_train.mean(),2))

Train shape: (354, 12)
Test shape: (152, 12)
среднее значение медианных цен на обучающей выборке =  22.77

#### 2. Обучите линейную регрессию с параметрами по умолчанию.

В качестве ответа введите ошибку MAE на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

In [27]:
#Создаем объект класса логистическая регрессия
lin_reg = linear_model.LinearRegression()
#Обучаем модель, минимизируя logloss
lin_reg.fit(X_train, y_train)
# print("accuracy на валидационном наборе: {:.2f}".format(log_reg.score(X_train, y_train)))
# y_train_pred = log_reg.predict(X_train)
# acc_le=metrics.f1_score(y_train, y_train_pred)
# print('f1_score на Train:: {:.3f}'.format(acc_le))

y_test_pred = lin_reg.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('MAE на Test: {:.2f}'.format(acc_le))

MAE на Test: 3.72

#### 3. Обучите решающее дерево с параметрами по умолчанию и аргументом random_state = 13.

Можно ли, опираясь на результаты, сделать вывод, что алгоритм переобучился?

In [28]:
#Создаем объект класса дерево решений
dtr = tree.DecisionTreeRegressor(random_state=13)
#Обучаем дерево по алгоритму CARTrint
dtr.fit(X_train, y_train)
#Выводим значения метрики 
y_train_pred = dtr.predict(X_train)
print('Train: {:.3f}'.format(metrics.mean_absolute_error(y_train, y_train_pred)))

y_test_pred = dtr.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('Test: {:.3f}'.format(acc_le))

Train: 0.000
Test: 2.839

#### 4. Обучите четыре случайных леса с числом деревьев 3, 10, 100, 500 и параметром random_state = 13.

В качестве ответа введите наименьшую полученную ошибку MAE на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

In [35]:

rfr = ensemble.RandomForestRegressor(
    random_state=13, 
    n_estimators=3,
)
rfr.fit(X_train, y_train)

y_test_pred = rfr.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('Test: {:.2f}'.format(acc_le))

Test: 2.93

In [36]:
rfr = ensemble.RandomForestRegressor(
    random_state=13, 
    n_estimators=10,
)
rfr.fit(X_train, y_train)

y_test_pred = rfr.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('Test: {:.2f}'.format(acc_le))

Test: 2.47

In [37]:
rfr = ensemble.RandomForestRegressor(
    random_state=13, 
    n_estimators=100,
)
rfr.fit(X_train, y_train)

y_test_pred = rfr.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('Test: {:.2f}'.format(acc_le))

Test: 2.26

In [38]:
rfr = ensemble.RandomForestRegressor(
    random_state=13, 
    n_estimators=500,
)
rfr.fit(X_train, y_train)

y_test_pred = rfr.predict(X_test)
acc_le=metrics.mean_absolute_error(y_test, y_test_pred)
print('Test: {:.2f}'.format(acc_le))

Test: 2.24