In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/wine_cleared.csv')
country_population = pd.read_csv('../../data/country_population.csv', sep=';')
country_area = pd.read_csv('../../data/country_area.csv', sep=';')

country_population

              country     population
0               China  1,411,778,724
1               India  1,386,584,581
2                  US    333,022,386
3           Indonesia    271,350,000
4            Pakistan    225,200,000
..                ...            ...
236              Niue          1,549
237           Tokelau          1,501
238      Vatican City            825
239     Cocos Islands            573
240  Pitcairn Islands             40

[241 rows x 2 columns]

In [3]:
country_population['population']=country_population['population'].str.replace(',','')
country_population['population']=country_population['population'].astype(float)

### 3.1
Каково население Италии согласно датасету country_population? Ответ вводите без пробелов и запятых

In [4]:
for index in list(country_population['country']):
    if 'It' in index : print (index)
    
country_population[country_population['country']=='Italy']

Italy

   country  population
24   Italy  59097904.0

In [5]:
data=data.join(country_population.set_index('country'), on='country')

### 3.2
Создайте новый признак area_country — площадь страны, аналогичный признаку population.

Какая площадь страны у вина под названием 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))'? Ответ вводите без пробелов, округлите до целых

In [6]:
data=data.join(country_area.set_index('country'), on='country')

In [7]:
data[data['title']=='Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))']

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,population,area
94,94,US,"Barrel notes are prominent, with aromas of Cre...",Grand Klasse Reserve Lawrence Vineyards,88,22.0,Washington,Columbia Valley (WA),Sean P. Sullivan,@wawinereport,Gård 2014 Grand Klasse Reserve Lawrence Vineya...,Viognier,Gård,333022386.0,9372610.0

In [8]:
data.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,population,area
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,59097904.0,301230.0
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,10347892.0,92391.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129972 entries, 0 to 129970
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129972 non-null  int64
 1   country                129909 non-null  object
 2   description            129972 non-null  object
 3   designation            129972 non-null  object
 4   points                 129972 non-null  int64
 5   price                  129972 non-null  float64
 6   province               129909 non-null  object
 7   region_1               129972 non-null  object
 8   taster_name            129972 non-null  object
 9   taster_twitter_handle  129972 non-null  object
 10  title                  129972 non-null  object
 11  variety                129971 non-null  object
 12  winery                 129972 non-null  object
 13  population             129823 non-null  float64
 14  area                   129835 non-null  float64
dtypes: float64(3), int64(2), object(10)
memory usage: 15.9+ MB