In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
# melb_data.head()
melb_data.shape
# melb_data.info()

(13580, 23)

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе, выставленных на продажу
Coordinates — широта и долгота, объединённые в кортеж

.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений
.moda()  Самое частое значение
.median() Медиана

In [3]:
melb_df = melb_data.copy()
# melb_df.head()

Удаление строк и столбцов в таблице отвечает метод drop()

In [4]:
# melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.drop(['index','Coordinates'],axis=1,inplace=True)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

МАТЕМАТИЧЕСКИЕ ОПЕРАЦИИ СО СТОЛБЦАМИ

сумма комнат+спален+ванных комнат

In [5]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

полщадь здания / сумма комнат+спален+ванных комнат
средняя площадь конаты

In [6]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

Если рассматриваемые площади равны, то числитель дроби зануляется и коэффициент тоже равен 0.

Если одна из площадей начинает доминировать над другой, то коэффициент начинает расти в отрицательную сторону, если площадь участка больше площади здания, и в положительную сторону, если наоборот.

Наконец, в предельном случае, если площадь здания равна 0, то числитель дроби равен знаменателю со знаком минус, а коэффициент равен -1, а если площадь участка равна 0, то числитель дроби равен знаменателю со знаком плюс, а коэффициент равен 1.

In [7]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

2.1

In [18]:
# price_square = []
# for price in melb_df['Price']:
#     price_square.append(price**2)
# price_square = pd.Series(price_square)

price_square = melb_df['Price'] **2

display(price_square)

0        2.190400e+12
1        1.071225e+12
2        2.146225e+12
3        7.225000e+11
4        2.560000e+12
             ...
13575    1.550025e+12
13576    1.062961e+12
13577    1.368900e+12
13578    6.250000e+12
13579    1.651225e+12
Name: Price, Length: 13580, dtype: float64

2.2

In [64]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472], # идентификатор клиента
        'cust_age': [13, 21, 19, 21, 60], # возраст клиента
        'cust_sale': [0, 0, 0.2, 0.15, 0.3], # персональная скидка клиента
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961], # год рождения клиента
        'cust_order': [1400, 14142, 900, 1240, 8430] # сумма заказа клиента
    })

2.3

In [67]:
def delete_columns(df, col=[]):
    result=df.copy()
    #if len(col)<1: return result
    column_df=result.columns
    for index in col:
        if not index in column_df: return None
    #result.drop(col,axis=1,inplace=True)
    return result.drop(col,axis=1)


print(delete_columns(customer_df,['cust_age']))
print(customer_df)

   number  cust_id  cust_sale  cust_year_birth  cust_order
0       0      128       0.00             2008        1400
1       1     1201       0.00             2000       14142
2       2     9832       0.20             2002         900
3       3     4392       0.15             2000        1240
4       4     7472       0.30             1961        8430
   number  cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0       0      128        13       0.00             2008        1400
1       1     1201        21       0.00             2000       14142
2       2     9832        19       0.20             2002         900
3       3     4392        21       0.15             2000        1240
4       4     7472        60       0.30             1961        8430

2.4

In [87]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],#население в миллионах человек
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]#площадь страны в квадратных километрах
})

# не правильно countries_df['plot']=round(countries_df['square']/countries_df['population']/1000000,2)    # 1000000 м**2
countries_df['tolp']=countries_df['population']/countries_df['square']*1000000
# display(countries_df)
round(countries_df.describe(),2)

       population       square    tolp
count        7.00         7.00    7.00
mean        90.70   5800859.57   84.93
std        111.60   6605919.15  150.86
min          9.50    133396.00    3.81
25%         27.54    405614.00    7.40
50%         45.50   2724902.00   32.80
75%        101.26   9905650.00   60.57
max        322.28  17125191.00  421.98