In [4]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps1.csv', sep=',')
#data_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
# melb_data.head()
# melb_data.shape

КАТЕГОРИИ В ДАННЫХ О НЕДВИЖИМОСТИ

In [5]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    #       имя | уникальные значения  |     тип данных
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)# сортировка
# выводим её на экран
display(unique_counts)

      Column_Name  Num_Unique     Type
0         Weekend           2    int64
1            Type           3   object
2          Method           5   object
3      Regionname           8   object
4        Bathroom           9    int64
5           Rooms           9    int64
6             Car          11    int64
7      StreetType          11   object
8         Bedroom          12    int64
9     CouncilArea          33   object
10        SellerG          50   object
11           Date          58   object
12      YearBuilt         144    int64
13       Postcode         198    int64
14       Distance         202  float64
15  Propertycount         311    int64
16         Suburb         314   object
17   BuildingArea         602  float64
18       Landsize        1448  float64
19          Price        2204  float64
20      Lattitude        6503  float64
21     Longtitude        7063  float64
22    Coordinates       13097   object
23        Address       13378   object
24          index       13580    int64
25     Unnamed: 0       13580    int64

In [6]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13580 non-null  int64
 1   index          13580 non-null  int64
 2   Suburb         13580 non-null  object
 3   Address        13580 non-null  object
 4   Rooms          13580 non-null  int64
 5   Type           13580 non-null  object
 6   Price          13580 non-null  float64
 7   Method         13580 non-null  object
 8   SellerG        13580 non-null  object
 9   Date           13580 non-null  object
 10  Distance       13580 non-null  float64
 11  Postcode       13580 non-null  int64
 12  Bedroom        13580 non-null  int64
 13  Bathroom       13580 non-null  int64
 14  Car            13580 non-null  int64
 15  Landsize       13580 non-null  float64
 16  BuildingArea   13580 non-null  float64
 17  YearBuilt      13580 non-null  int64
 18  CouncilArea    12211 non-null  object
 19  Lattitude      13580 non-null  float64
 20  Longtitude     13580 non-null  float64
 21  Regionname     13580 non-null  object
 22  Propertycount  13580 non-null  int64
 23  Coordinates    13580 non-null  object
 24  StreetType     13580 non-null  object
 25  Weekend        13580 non-null  int64
dtypes: float64(6), int64(10), object(10)
memory usage: 2.7+ MB

None

In [7]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13580 non-null  int64
 1   index          13580 non-null  int64
 2   Suburb         13580 non-null  object
 3   Address        13580 non-null  object
 4   Rooms          13580 non-null  int64
 5   Type           13580 non-null  category
 6   Price          13580 non-null  float64
 7   Method         13580 non-null  category
 8   SellerG        13580 non-null  category
 9   Date           13580 non-null  object
 10  Distance       13580 non-null  float64
 11  Postcode       13580 non-null  int64
 12  Bedroom        13580 non-null  int64
 13  Bathroom       13580 non-null  int64
 14  Car            13580 non-null  int64
 15  Landsize       13580 non-null  float64
 16  BuildingArea   13580 non-null  float64
 17  YearBuilt      13580 non-null  category
 18  CouncilArea    12211 non-null  category
 19  Lattitude      13580 non-null  float64
 20  Longtitude     13580 non-null  float64
 21  Regionname     13580 non-null  category
 22  Propertycount  13580 non-null  int64
 23  Coordinates    13580 non-null  object
 24  StreetType     13580 non-null  category
 25  Weekend        13580 non-null  category
dtypes: category(8), float64(6), int64(8), object(4)
memory usage: 2.0+ MB

None

In [8]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [9]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [11]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [12]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

Добавлясм категорию flat

In [13]:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

5.2

In [29]:
# melb_df.memory_usage()
# Suburb
# melb_df.size
# melb_df.info() #2.0
popular_stypes =melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_stypes else 'other')
# display(melb_df['Suburb'])

melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13580 non-null  int64
 1   index          13580 non-null  int64
 2   Suburb         13580 non-null  category
 3   Address        13580 non-null  object
 4   Rooms          13580 non-null  int64
 5   Type           13580 non-null  category
 6   Price          13580 non-null  float64
 7   Method         13580 non-null  category
 8   SellerG        13580 non-null  category
 9   Date           13580 non-null  object
 10  Distance       13580 non-null  float64
 11  Postcode       13580 non-null  int64
 12  Bedroom        13580 non-null  int64
 13  Bathroom       13580 non-null  int64
 14  Car            13580 non-null  int64
 15  Landsize       13580 non-null  float64
 16  BuildingArea   13580 non-null  float64
 17  YearBuilt      13580 non-null  category
 18  CouncilArea    12211 non-null  category
 19  Lattitude      13580 non-null  float64
 20  Longtitude     13580 non-null  float64
 21  Regionname     13580 non-null  category
 22  Propertycount  13580 non-null  int64
 23  Coordinates    13580 non-null  object
 24  StreetType     13580 non-null  category
 25  Weekend        13580 non-null  category
dtypes: category(9), float64(6), int64(8), object(3)
memory usage: 1.9+ MB